.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* FOOTER */
.footer{
  display: flex;
  justify-content: center; 
}
.footer p{
  margin: 1rem;
}

/* OFFICES */
.office-city{
  margin-top: 5rem;
  text-align: left;
  margin-left: 2rem;
}

.office-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
}
.office-grid{
  border: solid 1px black;
  width: 20rem;
  margin-top: 2rem;
  margin-left: 3rem;
  padding: 1rem;
}
.office-grid-noboarder{
  width: 10rem;
  margin-top: 2rem;
  margin-left: 3rem;
  padding: 1rem;
}

.office-list{
  display: flex;
  align-items: center;
}

.office-list a{
  margin-left: 1rem;
}

.office-list p{
  margin-left: 1rem;
}

.office p{
  font-size: 20px;
}

.office-btns{
  display:inline-block; 
  float: right;
}

.office-filter-btn{
  background-color:#f0f5f5; 
  border: none;
  padding: 25px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.office-grid-btn{
  background-color: #ffffff; 
  border: none;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
}

.office-list-number{
  text-align: center;
  vertical-align: middle;
  height: 2rem;
  width: 2rem;
  background-color: #000000;
  color: #ffffff;
}


/* ARTICLES */
.article_body{
  width: 1000px;
  margin: auto;
}
.article-btns{
  display:inline-block;
  display: flex;
}
.article-search-btns{
  margin-left:auto; margin-right:0;
}
.article-newarticle-btn{
  background-color:#0a8181; 
  color: #ffffff;
  border: none;
  width: 10rem;
  height: 5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 5rem;
}
.article-search-btn{
  background-color:#f0f5f5; 
  border: none;
  width: 10rem;
  height: 5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 2rem;
  margin-top: 5rem;
}
.articles{

}
.article{
  display:inline-block;
  display: flex;
}
.article_image{
  margin-right: 2rem;
  margin-top: 2rem;
}
.article_header{
  display:inline-block;
  display: flex;
}
.article_title{

}
.article_category{
  margin-left:auto; margin-right:0;
}
.article_header{
  display:inline-block;
  display: flex;
}
.article_date{
  margin-left:auto; margin-right:0;
}
.article_delete_btn{
  background-color: #fa0707; 
  color: #ffffff;
  border: none;
  width: 10rem;
  height: 5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 3rem;
  margin-bottom: 5rem;
}
.article_edit_btn{
  background-color: #2e9c23; 
  color: #ffffff;
  border: none;
  width: 10rem;
  height: 5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 2rem;
}